[core]
	editor = vim
[user]
	name = komekome09
	email = fanmaskome@gmail.com
	editor = vim
[alias]
	co = checkout
	br = branch
	st = status
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
	proxy = http://proxy.uec.ac.jp:8080
[https]
	proxy = http://proxy.uec.ac.jp:8080
[url "https://"]
	insteadOf = git://
