[core]
	editor = vim
	autocrlf = input
[user]
	name = komekome09
	email = fanmaskome@gmail.com
	editor = vim
[alias]
	co = checkout
	br = branch
	st = status
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
